<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FacSync.Properties.Settings.CareCentralSync_PConnectionString"
            connectionString="Data Source=[Servername];Initial Catalog=[DBname];Persist Security Info=True;User ID=[Userid];Password=[Password]"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>